<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Βάση Αξιωματικών/Ναυτών</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
			integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
		<!-- <link rel="stylesheet" href="\\css\\bootstrap.min.css" type="text/css"> -->
	</head>

	<body>
		<div class="container">
			<h2 align="center">Νέος Ναύτης</h2>
			<form class="row g-3">
				<div class="col-md-4">
					<label for="firstname" class="form-label">Όνομα</label>
					<input type="text" class="form-control" id="firstname">
				</div>
				<div class="col-md-4">
					<label for="lastname" class="form-label">Επίθετο</label>
					<input type="text" class="form-control" id="lastname">
				</div>
				<div class="col-md-4">
					<label for="adeptness" class="form-label">Ειδικότητα</label>
					<input type="text" class="form-control" id="adeptness">
				</div>
				<div class="col-3">
					<label for="arrival" class="form-label">Ημ/νία Άφιξης</label>
					<input type="date" class="form-control" id="arrival">
				</div>
				<div class="col-3">
					<label for="classification" class="form-label">Ημ/νία Κατάταξης</label>
					<input type="date" class="form-control" id="classification">
				</div>
				<div class="col-md-3">
					<label for="release" class="form-label">Πιθανή Ημ/νία Απόλυσης</label>
					<input type="date" class="form-control" id="release">
				</div>
				<div class="col-md-3">
					<label for="serve" class="form-label">Μήνες Υπηρέτησης</label>
					<input type="number" class="form-control" id="serve">
				</div>
				<div class="col-md-3">
					<label for="police" class="form-label">Αστυνομικό Τμήμα</label>
					<input type="text" class="form-control" id="police">
				</div>
				<div class="col-md-3">
					<label for="father" class="form-label">Όνομα Πατέρα</label>
					<input type="text" class="form-control" id="father">
				</div>
				<div class="col-md-3">
					<label for="mother" class="form-label">Όνομα Μητέρας</label>
					<input type="text" class="form-control" id="mother">
				</div>
				<div class="col-md-3">
					<label for="address" class="form-label">Διεύθυνση</label>
					<input type="text" class="form-control" id="address">
				</div>
				<div class="col-md-2">
					<label for="esso" class="form-label">ΕΣΣΟ</label>
					<input type="text" class="form-control" id="esso">
				</div>
				<div class="col-md-2">
					<label for="fitness" class="form-label">Σωματική Ικανότητα</label>
					<input type="text" class="form-control" id="fitness">
				</div>
				<div class="col-md-2">
					<label for="driver" class="form-label">Άδεια οδήγησης</label>
					<input type="text" class="form-control" id="driver">
				</div>
				<div class="col-md-4">
					<label for="knowledge" class="form-label">Γραμματικές Γνώσεις</label>
					<input type="text" class="form-control" id="knowledge">
				</div>
				<div class="col-md-4">
					<label for="home" class="form-label">Σταθερό τηλέφωνο</label>
					<input type="tel" class="form-control" id="home">
				</div>
				<div class="col-md-4">
					<label for="mobile" class="form-label">Κινητό τηλέφωνο</label>
					<input type="tel" class="form-control" id="mobile">
				</div>
				<div class="col-md-4">
					<label for="isReleased" class="form-label">Απολύθηκε</label>
					<input type="text" class="form-control" id="isReleased">
				</div>
				<div class="text-center">
					<button type="button" class="btn btn-primary">Εγγραφή</button>
				</div>
			</form>
		</div>
	</body>
</html>